/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Contact Section */
.contact-section {
    margin-top: 70px;
    background-color: #9CC6B4;
    color: #333;
    padding: 50px 20px;
    text-align: center;
}

.contact-title {
    font-size: 2.5rem;
    color: #21865C;
    margin-bottom: 20px;
}

.contact-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.contact-details {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.contact-item {
    text-align: center;
    max-width: 300px;
}

.contact-item i {
    font-size: 2rem;
    color: #21865C;
    margin-bottom: 10px;
}

.contact-item h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.contact-item p {
    font-size: 1rem;
    color: #555;
}

.contact-item a {
    text-decoration: none;
    color: inherit;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    background-color: #21865C;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #185f44;
}
